.model-training {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 600px;
  min-height: 420px;
}

.model-training__header {
  box-sizing: border-box;
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 600;
}

.model-training__footer {
  box-sizing: border-box;
  display: flex;
  margin-top: auto;
  min-height: 52px;
}

.model-training__btn {
  height: 36px;
  margin-right: 16px;
}

.model-training__form {
  box-sizing: border-box;
  display: flex;
  margin-bottom: 16px;
}

.model-training__form-col {
  box-sizing: border-box;
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 50%;
  padding: 16px 8px;
}

.model-training__block {
  box-sizing: border-box;
  margin-bottom: 24px;
}

.model-training__block-title {
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
}

.model-training__block-content {
  box-sizing: border-box;
}

.model-training__block-row {
  box-sizing: border-box;
  display: flex;
}
